* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .top_part {
    width: 30%;
    img {
      width: 100%;
    }
  }
}

.LangCard {
  width: 150px;
  height: 110px;
  border-radius: 15px;
  background-color: wheat;
  position: relative;
  font-family: "Itim", cursive;

  &:hover {
    box-shadow: 1px 0px 11px 2px rgba(0, 0, 0, 0.75);
    .logo img {
      transform: scale(1.3);
      transition: all 0.3s ease;
    }
  }
  .back {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    padding-left: 10px;
    ul {
      li {
        list-style: inside;
      }
    }
  }

  .logo {
    position: relative;
    top: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    img {
      width: 30%;
    }
  }
  .name {
    position: absolute;
    left: 50%;
    bottom: 6px;
    transform: translateX(-50%);
    text-align: center;
  }
}
.container-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 50px repeat(4, 1fr);
  gap: 15px;
  padding: 15px;
  border: 1px solid red;
  background-image: linear-gradient(
    30deg,
    #f58a28 0%,
    #f58a28 40%,
    #54c3df 40%,
    #54c3df 60%,
    #f58a28 60%,
    #f58a28 100%
  );
  h2 {
    text-align: center;
    color: white;
    font-size: 30px;
    grid-column: 1 / span 2;
  }
}
